@model List<KFA.MyBlog.BLL.ViewModels.Article.ArticleViewModel>

@using KFA.MyBlog.DAL.Entities;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;


@{
    var pageUrl = Url.Page(null); 
    @if (pageUrl == "/AllUserArticles")
    {
        ViewData["Title"] = "Cтатьи пользователя";
    }
    else
    {
        ViewData["Title"] = "Все cтатьи";
    }
}
<link rel="stylesheet" href="~/css/main-page.css" />

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div>
    @if (pageUrl == "/AllUserArticles")
    {
        <h2 class="vert-spacing">Мои статьи</h2>
        <div class="my-3 col-md-2">
            <a class="enter-submit btn" method="get" asp-controller="Article" asp-action="AddArticle">Написать новую статью</a>
        </div>
        <div class="container">
            <div class="col">
                @foreach(var article in Model)
                {
                    <div class="my-2 row-md-4">
                        @foreach (var tag in article.Tags)
                        {
                            <label class="badge badge-primary text-primary"> ✔ @tag.Tag_Name</label>
                        }
                        <div class="my-2">
                            <a method="get" asp-action="ViewArticle" asp-route-id=@article.Id><h5>@article.Title</h5></a>
                        </div>
                        <div class="my-2">
                            <a class="btn btn-submit inline" method="get" asp-action="Update" asp-route-id=@article.Id>Редактировать</a>
                        </div>
                        <form class="my-2" method="post" asp-controller="Article" asp-action="Delete" asp-route-Id=@article.Id>
                            <input class="btn btn-danger" type="submit" value="Удалить" />
                        </form>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <h2 class="vert-spacing">Все статьи</h2>
        <div class="container">
            <div class="col">
                @foreach(var article in Model)
                {
                    <div class="my-2 row-md-4">
                        @foreach (var tag in article.Tags)
                        {
                            <label class="badge badge-primary text-primary"> ✔ @tag.Tag_Name</label>
                        }
                        <div class="my-2">
                            <a method="get" asp-action="ViewArticle" asp-route-id=@article.Id><h5>@article.Title</h5></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
