@model KFA.MyBlog.BLL.ViewModels.Role.RoleViewModel

@using KFA.MyBlog.DAL.Entities;

@{
    ViewData["Title"] = "Добавление роли";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<h2>Добавление роли</h2>
<div class="tag-block">
    <form class="frm" method="post" asp-controller="Role" asp-action="AddRole">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="mrgn">
                <div>Название роли</div><br />
                <input placeholder="Название роли" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div>
            <div class="mrgn">
                <label>Описание</label><br />
                <textarea class="mrgn textarea" placeholder="Описание" asp-for="Description" ></textarea>
                <span asp-validation-for="Description"></span>
            </div>
        </div>
        <div>
            <input class="btn-submit" type="submit" value="Добавить" />
        </div>
    </form>
    <a class="enter-submit" method="get" asp-action="AllRoles" asp-controller="Role">Перейти к списку всех ролей</a>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
