@model List<KFA.MyBlog.BLL.ViewModels.Role.RoleViewModel>

@using KFA.MyBlog.DAL.Entities
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;

@{
    ViewData["Title"] = "Все роли";
}
<link rel="stylesheet" href="~/css/main-page.css" />

<div>
    <h2 class="vert-spacing">Роли</h2>
    <div class="my-3 col-md-2">
        <a class="btn enter-submit" method="get" asp-controller="Role" asp-action="AddRole">Добавить</a>
    </div>
    @if (SignInManager.IsSignedIn(User) &&  User.IsInRole("Admin") )
    {
        <div class="container">
            <div class="col">
                @foreach (var role in Model)
                {
                    <div class="my-2 row-md-4">
                        <div class="mrgn">Название</div>
                        <div>
                            <h5>@role.Name</h5>
                        </div>
                        <div class="my-2">Описание</div>
                        <textarea class="mrgn my-2 textarea" placeholder="Описание" disabled>@role.Description</textarea>
                        <a class="btn btn-submit inline" method="get" asp-controller="Role" asp-action="Update" asp-route-roleId=@role.ID>Редактировать</a>
                        <form class="my-2" method="post" asp-controller="Role" asp-action="Delete" asp-route-roleId=@role.ID>
                            @if(role.Name == "Admin")
                            {
                                <input class="btn btn-danger" type="submit" value="Удалить" disabled />
                            }
                            else
                            {
                                <input class="btn btn-danger" type="submit" value="Удалить" />
                            }
                        </form>
                    </div>
                }
            </div>
        </div>
    }
</div>