@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="side">
        Описание
    </div>
    <div class="main">
        @*<partial name="Register" />*@
        @*авторизация*@
        Еще что-то
    </div>
</div>
