@model KFA.MyBlog.BLL.ViewModels.User.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<h2>Регистрация нового пользователя</h2>
<div class="tag-block">
    <form method="post" asp-action="Register" asp-controller="User">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mrgn">
            <label asp-for="First_Name"></label><br />
            <input asp-for="First_Name" />
            <span asp-validation-for="First_Name"></span>
        </div>
        <div class="mrgn">
            <label asp-for="Last_Name"></label><br />
            <input asp-for="Last_Name" />
            <span asp-validation-for="Last_Name"></span>
        </div>
        <div class="mrgn">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="mrgn">День рождения</div>
        <div class="mrgn">
            <select asp-for="Day" class="form-control date-control" ID="ddlDay">
                <option value="">@Model.Day</option>
            </select>
            <span asp-validation-for="Day" class="text-danger"></span>

            <select asp-for="Month" class="form-control date-control" asp-items="Html.GetEnumSelectList<KFA.MyBlog.BLL.ViewModels.Months>()"
                    onchange="PopulateDays()" ID="ddlMonth">
                <option value="">@Model.Month</option>
            </select>

            <span asp-validation-for="Month" class="text-danger"></span>

            <select asp-for="Year" class="form-control date-control" ID="ddlYear"
                    asp-items="Enumerable.Range(DateTime.Now.AddYears(-100).Year, DateTime.Now.AddYears(-14).Year - DateTime.Now.AddYears(-100).Year).Reverse().Select(x=> new SelectListItem(x.ToString(), x.ToString()))"
                    onchange="PopulateDays()">
                <option value="">@Model.Year</option>
            </select>
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="mrgn">
            <label asp-for="PasswordReg"></label><br />
            <input asp-for="PasswordReg" />
            <span asp-validation-for="PasswordReg"></span>
        </div>
        <div class="mrgn">
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div class="mrgn">
            <label asp-for="Login" ></label><br />
            <input asp-for="Login" />
            <span asp-validation-for="Login" ></span>
        </div>
        <div class="center">
            <input class="enter-submit" type="submit" value="Регистрация"/>
        </div>
    </form>    

    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <script type="text/javascript">
        function PopulateDays() {
            var ddlMonth = document.getElementById("ddlMonth");
            var ddlYear = document.getElementById("ddlYear");
            var ddlDay = document.getElementById("ddlDay");

            var y = ddlYear.options[ddlYear.selectedIndex].value;
            var m = ddlMonth.options[ddlMonth.selectedIndex].value != 0;
            if (ddlMonth.options[ddlMonth.selectedIndex].value != 0 && ddlYear.options[ddlYear.selectedIndex].value != 0) {
                var dayCount = 32 - new Date(ddlYear.options[ddlYear.selectedIndex].value, ddlMonth.options[ddlMonth.selectedIndex].value - 1, 32).getDate();
                ddlDay.options.length = 0;
                for (var i = 1; i <= dayCount; i++) {
                    AddOption(ddlDay, i, i);
                }
            }
        }

        function AddOption(ddl, text, value) {
            var opt = document.createElement("OPTION");
            opt.text = text;
            opt.value = value;
            ddl.options.add(opt);
        }
    </script>

</div>