@model KFA.MyBlog.BLL.ViewModels.Comment.CommentViewModel

@using KFA.MyBlog.DAL.Entities;

@{
    ViewData["Title"] = "Редактирование комментария";
}
<link rel="stylesheet" href="~/css/main-page.css" />

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<h2>Редактирование комментария</h2>
<div class="article-block">
    <form method="post" asp-controller="Comment" asp-action="Update" >
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <input class="form-control" asp-for="Id" hidden />
            <input asp-for="CommentDate" hidden />
            <input asp-for="ArticleId" hidden />
            <input asp-for="UserId" hidden />
            <textarea class="textarea" placeholder="Текст комментария" asp-for="Comment">@Model.Comment</textarea>
            <span asp-validation-for="Comment"></span>
        </div>
        <div>
            <input class="btn-submit" type="submit" value="Сохранить"/>
        </div>
    </form>
    <a class="enter-submit" method="get" asp-controller="Article" asp-action="ViewArticle" asp-route-Id=@Model.ArticleId>Вернуться с статье</a>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}