@model List<KFA.MyBlog.BLL.ViewModels.Tag.TagViewModel>

@using KFA.MyBlog.DAL.Entities

@{
    ViewData["Title"] = "Все теги";
}
<link rel="stylesheet" href="~/css/main-page.css" />

<h2>Все теги</h2>
<div>
    <div class="py-3 col-md-2">
        <a class="btn enter-submit" method="get" asp-controller="Tag" asp-action="AddTag">Добавить</a>
    </div>
    <div class="container">
        <div class="col">
            @foreach (var tag in Model)
            {
                <div class="my-2 row-md-4 tag-block">
                    <textarea class="textarea my-2" placeholder="Тег" disabled>@tag.Tag_Name</textarea>
                    <div class="my-2">
                        <a class="btn btn-submit inline" method="get" asp-action="Update" asp-route-id=@tag.Id>Редактировать</a>
                    </div>
                    <form class="my-2" method="post" asp-controller="Tag" asp-action="Delete" asp-route-id=@tag.Id>
                        <input class="btn btn-danger" type="submit" value="Удалить" />
                    </form>
                </div>
            }
        </div>
    </div>
</div>