@model KFA.MyBlog.BLL.ViewModels.Tag.TagViewModel

@using KFA.MyBlog.DAL.Entities;

@{
    ViewData["Title"] = "Редактирование тега";
}
<link rel="stylesheet" href="~/css/main-page.css" />

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<h2>Редактирование тега</h2>
<div class="tag-block">    
    <form method="post" asp-controller="Tag" asp-action="Update" >
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <input class="form-control" asp-for="Id" hidden />
            <textarea class="textarea" placeholder="Текст статьи" asp-for="Tag_Name">@Model.Tag_Name</textarea>
            <span asp-validation-for="Tag_Name"></span>
        </div>
        <div>
            <input class="btn-submit" type="submit" value="Сохранить"/>
        </div>
    </form>
    <a class="enter-submit" method="get" asp-action="AllTags" asp-controller="Tag">Перейти к списку всех тегов</a>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}